body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f3f3f3;
	margin: 0;
}

.slider-container {
	position: relative;
	width: 80%;
	max-width: 800px;
}

.slider {
	display: flex;
	overflow: hidden;
	width: 100%;
}

.slider-image {
	min-width: 100%;
	transition: transform 0.5s ease-in-out;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

.dots {
	text-align: center;
	margin-top: 10px;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
}

.active,
.dot:hover {
	background-color: #717171;
}